<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %> 
 
    <main>
        <section class="login-main-container">
            <article class="login-container">
                <div class="sections-welcome-titles-container">
                    <h2 class="sections-welcome-titles">Iniciar sesión</h2>
                </div>

                <div class="validation-errors-container">
                    <% if(typeof errors != 'undefined') { %>
                        <ul>
                            <% for(error of errors) { %>
                                <li>
                                    <p class="validation-error"> <%= error.msg %> </p>                          
                                </li>  
                            <% } %>
                        </ul>
                    <% } %>
                </div>

                <div class="login-inputs-container">
                    <form action="/users/login" method="POST" class="form-container">
                        
                        <div class="login-email-container general-containers">
                            <label for="email-login" class="login-inputs-titles">Correo Electrónico<span class="mandatory">*</span></label>
                            <input type="text" name="email" id="email-login" class="inputs-fields all-login-inputs">
                        </div>
                        
                        <div class="login-password-container general-containers">
                            <label for="password" class="login-inputs-titles">Contraseña<span class="mandatory">*</span></label>
                            <input type="password" name="password" id="password" class="inputs-fields all-login-inputs">
                         </div>
                        
                         <div class="remember-me-container">
                            <label for="remember">Recordarme</label>
                            <input type="checkbox" name="remember" id="remember" class="remember-login-input">
                        </div>

                        <div class="buttons-container general-containers">
                            <button type="submit" class="login-button buttons-style">Ingresar</button>
                        </div>
                    </form>
                </div>
                <div class="register-account-container">
                    <h4><a href="#" class="forgot-password">Olvide mi contraseña</a></h4>
                    <h4 class="no-account">¿No tenés cuenta?<a href="/users/register" class="register-account"> Registrate</a></h4>
                </div>

            </article>
        </section>
    </main>
       

    <%- include("../partials/footer") %> 
</body>
</html>