<!DOCTYPE html>
  <head>
    <title>profile</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
      <h1> Esta es la vista del profile! </h1>
  </body>
</html>