<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %> 

    <main>
        <section>
            <article>
                <div class="registration-main-container">
                    <div class="registration-form-container">
                        <div class="sections-welcome-titles-container">
                            <h2 class="sections-welcome-titles">Datos de la cuenta</h2>
                            <p class="sections-welcome-description">Completa los datos o registrate con Google o Facebook</p>
                        </div>

                        <div class="validation-errors-container">
                            <!-- ERRORES DE VALIDACION AQUI, RESPETAR LA CLASE DEL P
                               <p class="validation-error">- Ejemplo: Email invalido</p> -->
                           </div>

                        <form action="/users/register" class="form" method="POST" enctype="multipart/form-data">
                            <div class="username-container register-info-container">
                                <label for="name-field" class="register-label">Nombre<span class="required-field">*</span></label>
                                <input name="name" type="text" id="name-field" class="register-input inputs-fields">
                            </div>

                            <div class="surname-container register-info-container">
                                <label for="surname-field" class="register-label">Apellido<span class="required-field">*</span></label>
                                <input name= "lastName" type="text" id="surname-field" class="register-input inputs-fields">
                            </div>

                            <div class="email-container register-info-container">
                                <label for="email-field" class="register-label">Email<span class="required-field">*</span></label>
                                <input name= 'email' type="text" id="email-field" class="register-input inputs-fields">
                            </div>

                            <div class="repeat-email-container register-info-container">
                                <label for="repeat-email-field" class="register-label">Repita su email<span class="required-field">*</span></label>
                                <input name= 'retypeEmail' type="text" id="repeat-email-field" class="register-input inputs-fields">
                            </div>
                            
                            <div class="password-container register-info-container">
                                <label for="password-field" class="register-label">Contraseña<span class="required-field">*</span></label>
                                <input name= 'password' type="password" id="password-field" class="register-input inputs-fields">
                            </div>

                            <div class="repeat-password-container register-info-container">
                                <label for="repeat-password-field" class="register-label">Repita su contraseña<span class="required-field">*</span></label>
                                <input name= 'retype' type="password" id="repeat-password-field" class="register-input inputs-fields">
                            </div>

                            <div class="register-info-container">
                                <label for="image" class="register-label avatar-label">Avatar<span class="required-field">*</span></label>
							    <input type="file" id="image" name="avatar" class="register-avatar-input">
                            </div>

                            <div class="button-container register-info-container">
                                <button type="submit" class="register-button final-register-button buttons-style" >Finalizar registro</button>
                            </div>
                        </form> 

                        <form action="/" method="GET" class="facebook-google-form">
                            <div class="button-container button-info-container">
                                <button type="submit" class="register-button google-button buttons-style"><i class="fab fa-google google-icon"></i>Registrarse con Google</button>
                            </div>
                        </form>


                        <form action="/" method="GET" class="facebook-google-form">
                            <div class="button-container button-info-container">
                                <button type="submit" class="register-button facebook-button buttons-style"><i class="fab fa-facebook facebook-icon"></i>Registrarse con Facebook</button>
                            </div>
                        </form>
                    </div>
                </div>
            </article>
        </section>
    </main>

    <%- include("../partials/footer") %> 
    
</body>
</html>