/* -----------------ESTILOS GENERALES----------------- */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;   
}

body{
    background-color: #f4f4f4;
}

/* ------------LOGIN - CONTENDORES PRINCIPALES-------------- */


.login-main-container{
    margin-top: 80px;
    margin-bottom: 0px;
    height: 600px;
    display: flex;
    justify-content: center;
    background-image: url("../img/alexander-redl-d3bYmnZ0ank-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

}

.login-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    height: 470px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
    margin-top: 40px;
}

/* ------------LOGIN - TITULO-------------- */

.login-title-container{
    text-align: center;
}

.login-main-title{
    margin: 10px 0px;
    font-weight: 900;
}


/* ------------LOGIN - CONTENDOR DE INPUTS-------------- */
.login-inputs-container{
    display: flex;
    justify-content: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.login-email-container{
    width: 100%;
}

.general-containers{
    text-align: center;
    margin: 10px;
    width: 100%;
}


.login-inputs-titles{
    display: block;
    width: 60%;
    text-align: left;
    position: relative;
    left: 60px;
    margin-bottom: 5px;
}


.all-login-inputs{
    width: 80%;
    border-radius: 20px;
    height: 35px;
    border: 1px solid grey;
}

.remember-me-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
    width: 80%;
    position: relative;
    left: 20px;
    font-weight: lighter;
}

.remember-login-input{
    margin-left: 5px;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login-button{
    margin: 10px;
    width: 80%;
    border-radius: 20px;
    height: 35px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 18px;
}

.login-button:hover{
    background-color:orangered;
    cursor: pointer;
}



.register-account-container{
    text-align: center;
}

.forgot-password{
    text-decoration: none;
    font-weight: lighter;
}

.forgot-password:hover{
    text-decoration:underline;
}

.no-account{
    margin-top: 20px;
    border-top: 1px solid gray;
    padding-top: 20px;
}

.register-account{
    text-decoration: none;
}

.register-account:hover{
    text-decoration: underline;
}

.mandatory{
    color: red;
    font-size: 10px;
    position: relative;
    top:-3px;
}


/* ------------LOGIN-RESPONSIVE-------------- */

@media (max-width:830px){
    .login-main-container{
        background-size: 1000px;
    }
}
