/* ----------------------------------------ESTILOS GENERALES---------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}


body{
    background-color: #f4f4f4;
}

.inputs-fields{
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
    background-color: #f4f4f4;
    transition: .3s ease all;
}


.inputs-fields:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4)
}

.textarea-styles{
    border-radius: 10px;
    resize:none;
    background-color: #f4f4f4;
    padding: 10px;
}

.textarea-styles:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4)
}


.buttons-style{
    border-radius: 20px;
    border: none;
}

.sections-welcome-titles-container{
    text-align: center;
    color:white;
    background-color: black;
    border: 1px solid black;
    padding: 5px;
    position: relative;
    bottom: 1px;
    width: 100%;
}
.sections-welcome-titles{
    text-align: center;
    color:white;
    background-color: black;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    position: relative;
    bottom: 1px;
    width: 100%;
}

.sections-welcome-description{
    font-size: 16px;
}

/* -----------------------ESTILOS VALIDACIONES DESDE EL BACK END--------------------------------------------- */

.validation-errors-container{
    padding: 10px 0px 0px 10px;
    width: 100%;
}

.validation-error{
    color: red;
    font-size: 13px;
    font-weight: 600;
    margin: 5px 0px;
}

.validation-error-product-title{
    color: red;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    bottom: 18px;
    text-align: center;
}

.validation-error-product{
    color: red;
    font-size: 10px;
    font-weight: 700;
    
}

.validation-error-register{
    color: red;
    font-size: 10px;
    font-weight: 700;
    padding-top: 5px;
    text-align: center;
}

.validation-error-profile{
    color: red;
    font-size: 9px;
    font-weight: 700;
    padding-top: 5px;
}



/* ----------------------------------------[HEADER]---------------------------------------- */

header{
    position: fixed;
    left:0px;
    top:0px;
    right: 0px;
    z-index: 1;
}

.header-main-container{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between
}

.logo-container{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo{
    height: 60px;
}

.menu-icon-container{
    display: none;
    width: 70%;
    height: 80px;
}

.menu-icon{
    color: white;
    font-size: 50px;
}

.main-nav-container{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-nav-container{
     width: 30%;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     right: 45px;
    
}

.main-nav-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 60px;
    margin-right: 30px;
    position: relative;
}

.user-nav-list{
    list-style-type: none;
    display: flex;
    align-items: center;
}


.main-nav-item{
    list-style-type: none;
    padding: 10px;
    font-size: 11px;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    width: 100%;
}

.nav-icons{
    color:white;
    font-size: 20px;
}

.header-avatar{
    width:50px;
    height:50px;
    border-radius:150px;
    border:2px solid white
}

.main-nav-item{
    text-decoration: none;
    background-image: linear-gradient(white, white);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
}

.main-nav-item:hover{
    background-size: 100% 2px;
}

@media (max-width:1000px){
    .main-nav-list,.user-nav-list{
        display: none;
    }

    .menu-icon-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        align-items: center;
        padding: 10px;
        margin-right: 15px;
        justify-content: flex-end;
    }
    .logo-container{
        position: relative;
        left: 80px;
    }
}

@media (max-width:400px){
    .header-logo{
        height: 50px;
    }
}

/* ----------------------------------------[FOOTER]---------------------------------------- */

/* -----------------FOOTER PRIMERA PARTE----------------- */

.footer-first-part{
    display: flex;
    background-color: #eeeeee;
}


.footer-article{
    margin: 0px auto;
    margin-top: 25px;
    text-align: center;
}

.footer-icon{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: #adadad;
}

.footer-container{
    width: 25%;
    height: 140px;
}

.icon-container{
    text-align: center;
}


.footer-service-title{
    color:#adadad;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bolder;
}

.footer-detail{
    margin-top: 10px;
    font-size: 10px;
    text-align: center;
}

/* -----------------FOOTER PRIMERA PARTE RESPONSIVE----------------- */


@media (min-width:2560px){
    .footer-first-part{
        height: 300px
    }
    .footer-icon{
        font-size: 100px;
    }

    
.footer-service-title{
    font-size: 40px;
}

.footer-detail{
    font-size: 20px;
}

}


@media (max-width:830px){

    .footer-first-part{
        width: 100%;
        flex-wrap: wrap;
    }

    .footer-container{
        width: 50%;
    }

    .footer-article{
        margin: 0px;
        margin-top: 25px;
        width: 100%;
    }
    
}

@media (max-width:600px){
    .footer-first-part{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
    }

    .footer-container{
        width: 100%;
    }

    .footer-article{
        width: 100%;
    }

    .footer-detail{
        width: 100%;
    }
}

/* -----------------FOOTER SEGUNDA PARTE----------------- */
.footer-bottom-part{
    height:140px;
    background-color: #2c2c2c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu-icon-container, .footer-menu-icon{
    display: none;
}


.footer-logo-container{
    height: 140px;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.energym-logo-footer{
    width: 60%;
    padding: 10px;
}



.footer-nav{
    width: 33%;
}

.footer-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:140px;
    list-style-type: none;
}

.footer-list-item{
    list-style-type: none;
    margin: 5px;
    font-size: 11px;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    display: block;
}

.footer-list-item:hover{
    text-decoration: underline;
}

.social-icons-container{
    height: 140px;
    width: 33%;
    text-align: center;
    padding: 50px 0px;
}

.social-cta{
    font-size: 11px;
    color:white;
    text-transform: uppercase;
}

.social-icon{
    color: white;
}

/* -----------------FOOTER SEGUNDA PARTE RESPONSIVE----------------- */


@media (min-width:2560px){
    .footer-bottom-part{
        height: 300px;
    }

    .footer-list{
        height: 300px;
    }

    .footer-list-item{
        font-size: 30px;
        margin-top:25px
    }

    .social-cta{
        font-size: 30px;
    }

    .social-icon{
        font-size: 60px;
        margin: 10px 20px;
    }
}

@media (max-width:1024px){
    .energym-logo-footer{
        width: 250px;
    }
}


@media (max-width:830px){

.footer-menu-icon-container{
    display: block;
}

.footer-menu-icon{
    display: block;
    color: white;
    font-size: 30px;
}

.footer-nav{
    display: none;
}

.footer-bottom-part{
    height: 100px;
}

.footer-logo-container{
    width: 40%;
    padding: 0px;
    display: flex;
    align-items: center;
}

.energym-logo-footer{
    width: 80%;
    padding-left: 10px;
}


.social-icons-container{
    width: 40%;
    position: relative;
    left: -20px;
}

.social-cta{
    font-size: 12px;
}

@media (max-width:425px){
    .social-icons-container{
        position: relative;
        left: -5px;
        bottom: 5px;
    }

    .social-cta{
        font-size: 10px;
    }

    .footer-menu-icon{
        font-size: 20px;
    }
    .energym-logo-footer{
        width: 155px;
    }
}

}

@media (max-width:350px){
    .energym-logo-footer{
        width: 140px;
    }
}

/* ----------------------------------------[HOMEPAGE]---------------------------------------- */


/* -----------------BANNER----------------- */

.banner-image{
    width: 100%;
    margin-top: 80px;
}



/* -----------------ARTICULOS HOMEPAGE----------------- */

.articles{
    width: 30%;
    margin: 10px 0;
    background-color:#eeeeee;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
    border-radius: 20px;
}

/* -----------------MÁS VENDIDOS HOME----------------- */


.section-title{
    text-align: center;
    padding: 10px 0px 10px 0px;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px;
}

.section-title-description{
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
}

.articles-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.mas-vendidos-img{
    width: 100%;
    display: block;
}

.product-names{
    margin: 2px 0 4px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}

.product-introduction{
    font-size: 10px;
    text-align: center;
}

.button-padre{
    text-align: center;
}

.comprar-button{
    background-color: orange;
    color:white;
    width: 50%;
    font-size: 15px;
    margin:10px 0px 10px 0px;
}

.comprar-button:hover{
    background-color: orangered;
    cursor: pointer;
}

/* -----------------MÁS VENDIDOS HOME RESPONSIVE----------------- */

@media (max-width:830px){
    .articles{
        width: 40%;
        margin: 10px 10px 50px 10px;
    }
}

@media (max-width:600px){
    .articles{
        width: 100%;
        margin: 10px 10px 50px 10px;
    }
}


/* -----------------RUTINAS----------------- */

.rutinas{
    margin:50px 0px;
}



.rutinas-img{
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
}

.rutinas-articles-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.rutina-articles{
    width: 25%;
}

.ver-mas-button{
    background-color: orange;
    color:white;
    width: 50%;
    font-size: 15px;
    margin:10px 0px 10px 0px;
}

.ver-mas-button:hover{
    background-color: orangered;
    cursor: pointer;
}


/* -----------------RUTINAS RESPONSIVE----------------- */

@media (max-width:830px){
    .rutina-articles{
        width: 50%;
    }
}

@media (max-width:600px){
    .rutina-articles{
        width: 100%;
        margin-bottom: 10px;
    }
}

/* ----------------------------------------[PRODUCTS PAGE]---------------------------------------- */

.product-page-main-container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/main/contact-background.jpg);
    background-attachment: fixed;
}

.product-page-container{
    width: 90%;
    margin: 80px 0px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #eeeeee;
}

.product-page-articles-main-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.product-page-article-container{
    display: flex;
    width: 21%;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    margin: 25px;
    min-height: 480px;
}

.product-page-img-container{
    width: 100%;
}

.product-page-img{
    border-radius: 20px;
    width: 100%;
    height: 250px;
}

.product-page-form-container{
    width: 100%;
}

.product-page-div{
    margin-top: 10px;
    width: 100%;
}

.product-page-button{
    width: 80%;
    margin-bottom: 8px;
    background-color: orange;
    height: 30px;
    color: white;
    font-size: 17px;
}

.product-page-button:hover{
    background-color: orangered;
}

.product-page-price{
    font-size: 25px;
    color: green;
    font-weight: bolder;
}

.product-page-introduction{
    padding: 0px 10px;
}

.product-page-name{
    font-size: 19px;
    margin-top: 5px;
    width: 100%;
}

@media(max-width:1390px){
    .product-page-article-container{
        width: 28%;
    }
}

@media(max-width:1044px){
    .product-page-article-container{
        width: 40%;
        margin: 25px 38px 25px 38px
    }
}

@media(max-width:848px){

    .product-page-articles-main-container{
        justify-content: center;
    }

    .product-page-container{
        width: 100%;
    }
    .product-page-article-container{
        width: 80%;
    }

    .product-page-name{
        font-size: 25px;
    }

    .product-page-price{
        font-size: 40px;
        margin: 5px 0px;
    }

    .product-page-button{
        height: 40px;
        font-size: 20px;
    }
}

@media(max-width:500px){
    .product-page-article-container{
        width: 100%;
        margin-left: 3px;
        margin-right: 3px;
    }
}



/* ----------------------------------------[LOGIN]---------------------------------------- */

.login-main-container{
    margin-top: 80px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/main/login-background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.login-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    margin: 80px 0px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
}


/* ------------LOGIN - CONTENDOR DE INPUTS-------------- */
.login-inputs-container{
    display: flex;
    justify-content: center;
}

.email-or-password-error{
    background-color: rgb(250, 161, 188);
    position: relative;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 60%;
    border-radius: 5px;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}


.general-containers{
    text-align: center;
    margin-top: 25px;
    width: 100%;
    height: 70px;
}

.login-email{
    margin-top: 30px;
}

.login-inputs-titles{
    display: block;
    width: 60%;
    text-align: left;
    position: relative;
    left: 60px;
    margin-bottom: 5px;
}


.all-login-inputs{
    width: 80%;
    height: 35px;
}

.remember-me-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 12px;
    width: 80%;
    position: relative;
    left: 20px;
    font-weight: lighter;
}

.remember-login-input{
    margin-left: 5px;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login-button{
    margin: 10px;
    width: 70%;
    height: 35px;
    background-color: orange;
    color: white;
    font-size: 17px;
}

.login-button:hover{
    background-color:orangered;
    cursor: pointer;
}



.register-account-container{
    text-align: center;
}

.forgot-password{
    text-decoration: none;
    font-weight: lighter;
}

.forgot-password:hover{
    text-decoration:underline;
}

.no-account{
    margin: 20px 0px;
    border-top: 1px solid gray;
    padding-top: 20px;
}

.register-account{
    text-decoration: none;
}

.register-account:hover{
    text-decoration: underline;
}

.mandatory{
    color: red;
    font-size: 10px;
    position: relative;
    top:-3px;
}


/* ------------LOGIN-RESPONSIVE-------------- */

@media (max-width:700px){
    .login-container{
        width: 90%;
    }
}

@media(max-width:400px){
    .login-container{
        width: 100%;
    }
}


/* ----------------------------------------[REGISTER]---------------------------------------- */


.registration-main-container{
    margin-top: 80px;
    width: 100%;
    background-image: url(/images/main/register-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-form-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 630px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid gray;
    margin: 80px 0px;
}

.register-info-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    text-align: left;
    height: 105px;
}

.form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.register-input{
    height: 35px;
    margin-top: 5px;
    width: 90%;
}

.avatar-label{
    position: relative;
    left:155px
}

.register-img{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
}

.register-avatar-input{
    position: relative;
    top: 10px;
    left: 170px;
}

.required-field{
    color: red;
    font-size: 12px;
    position: relative;
    bottom: 5px;
}

.button-container{
    width: 100%;
    margin: 0px;
    display: flex;
    align-items: center;
}

.register-button{
    margin: 10px 0px;
    height: 35px;
    width: 50%;
    background-color: orange;
    color: white;
    font-size: 15px;
}

.facebook-button{
    background-color: #3b5998;
    width: 47%;
}

.facebook-button:hover{
    background-color:rgb(6, 31, 70);
}


.google-button{
    background-color: gray;
    width: 47%;
}

.google-button:hover{
    background-color: rgb(42, 45, 49);
}

.google-icon{
    position: relative;
    left:-10px;
    padding: 3px;
    font-size: 20px;
}

.facebook-icon{
    position: relative;
    left:-5px;
    padding: 3px;
    font-size: 20px;
}

.final-register-button:hover{
    background-color: orangered
}

.facebook-google-form{
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    bottom: 50px;
}


.button-info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
    bottom: 22px;
}

.position-class{
    position: relative;
    bottom: 35px;
}

/* ---responsive--- */

@media (max-width:600px){

    .registration-main-container{
        background-size: 2000px;
        background-repeat: no-repeat;
    }
    .registration-form-container{
        width: 100%;
    }
    .register-info-container{
        width: 100%;
    }
    .register-button,.facebook-button{
        width: 100%;
    }
    .facebook-google-form{
        margin: 0px 20px;
    }

    .register-avatar-input{
        left:10px
    }
    .avatar-label{
        left: 10px;
    }
}

/* ----------------------------------------[DETALLE PRODUCTO]---------------------------------------- */

.product-detail-main-container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/main/contact-background.jpg);
    background-attachment: fixed;
}

.product-detail-container{
    border-radius: 10px;
    background-color: white;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid gray;
    margin: 80px 0px;

}

.product-detail-img-container{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0px;
}

.product-detail-img{
    width: 100%;
    height: 610px;
}

.rutine-detail-img{
    height: 490px;
}


.product-name-and-price-container{
    width:50%;
    border-left: 1px solid lightslategray;
    padding: 15px;
}

.product-name-container{
    margin-top: 10px;
    width:100%;
}

.product-detail-name{
    font-weight: 400;
    font-size: 32px;
}

.product-detail-description{
    font-weight: 100;
    font-size: 16px;
    margin-top: 5px;
}

.product-detail-information{
    font-weight: 600;
    padding-top: 10px;
}

.product-price-container{
    margin-top: 20px;
}

.product-detail-price{
    font-weight: 400;
    font-size: 42px;
    color: green;
}

.product-extra-info-container{
    margin: 30px 0px 0px;
}

.product-extra-info{
    font-weight: 100;
}

.product-detail-icon{
    margin-bottom: 30px;
    padding-right: 10px;
    color: green
}

.product-detail-form-container{
    text-align: left;
}

.product-detail-amount-label{
    font-weight: lighter;
    font-size: 17px;
    font-weight: bold;
}

.product-detail-amount-field{
    height: 25px;
    margin: 10px 0px;
    width: 80px;
}

.product-amount-container{
    text-align: left;
    margin-top: 10px;
}

.product-detail-button{
    height: 40px;
    width:50%;
    background-color: orange;
    color: white;
    font-size: 16px;
    margin-top: 20px;
}

.product-detail-button:hover{
    background-color: orangered;
}

.sumar-carrito{
    padding-right: 12px;
    color: white;
}

@media (max-width:1500px){
    .product-detail-container{
        width: 80%;
    }
    
}

@media (max-width:1200px){
    .product-detail-container{
        width: 90%;
    }
} 

@media (max-width:1080px){

    .product-detail-img-container{
        width: 100%;
    }

    .product-detail-img{
        width: 80%;
        height: 400px
    }

    .product-name-and-price-container{
        width: 100%;
        border: none;
        position: relative;
        bottom: 20px;
    }
    .product-detail-name{
        font-size: 40px;
        text-align: center;
    }

    .product-detail-description{
        font-size: 22px;
        margin-top: 20px;
    }

    .product-detail-price{
        font-size: 45px;
    }

    .product-extra-info{
        font-size: 22px;
    }

    .product-detail-button{
        width: 40%;
    }
    .product-name-and-price-container{
        text-align: center;
    }
    .product-amount-container{
        text-align: center;
    }
    .product-detail-form-container{
        text-align: center;
    }

    .product-detail-information-container{
        margin-top: 10px;
    }
}

@media (max-width:600px){

    .product-detail-welcome-title{
        font-size: 25px;
    }
    
    .product-detail-img{
        width: 100%;
    }

    .product-detail-container{
        width: 100%;
    }
    .product-detail-button{
        width: 60%;
    }


}

@media (max-width:400px){
    .product-detail-button{
        width: 90%;
    }
}

/* ----------------------------------------[DETALLE PRODUCTO/RUTINA]---------------------------------------- */

.rutine-detail-img-container{
    position: relative;
    bottom: 1px;
}

@media (max-width:1080px){
    .rutine-detail-img-container{
        margin-top: 40px;
    }
}

/* ----------------------------------------[CARRITO COMPRAS]---------------------------------------- */

.cart-section {
    background-image: url(/images/main/section-background.jpeg);
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}


.cart-section-box {
    background-color: #f4f4f4;
    width: 700px;
    margin: 80px 0px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.product-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 25px;
    border-bottom: 2px solid gray;
}

.product-cart-icon{
    padding-right: 20px;
}


/* Box de imagen */

.product-image-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart-product-img {
    width: 100%;
    border-radius: 10px;
}


/* Columna de informacion */

.main-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 50%;
    padding-left: 10px;
}

/* Nombre y precio */

.product-name {
    width: 100%;
    height: 30px;
    text-align: start;
    margin-top: 10px;
}

.product-prize {
    width: 100%;
    height: 30px;
    text-align: start;
    margin-bottom: 35px;
}

/* Formularios */

.buttons-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.quantity-container {
    align-self: flex-start;
    width: 100%;
    margin: 0px 0px 5px 5px;    
}

.quantity-button {  
    width: 50px;
}

.label-cantidad {
    font-size: 15px;
}

.edit-container {
    align-items: flex-start;
    width: 100%;
    margin: 0px 0px 5px 0px;   
    text-align: left;

}

.edit-button {
    font-size: 16px;
    background-color: orange;
    color: white;
    width: 70%;
    margin: 5px 0px;
}

.edit-button:hover {
    background-color: orangered;
}

.delete-container {
    align-items: flex-start;
    width: 100%;
    margin: 0px 0px 15px 0px;    
    text-align: left;
}

.delete-button {
    font-size: 16px;
    background-color: red;
    color: white;
    width: 70%;
}

.delete-button:hover {
    background-color: black;
}


/* --- Totals Section --- */

.totales-container {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

.total-info{
    padding: 10px;
}

/* --- Buy Section --- */

.buy-container {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boton-comprar {
    width: 25%;
    height: 30px;
    align-self: center;
    color: white;
    background-color: green;
    font-size: 20px;
    text-transform: uppercase;
}

.boton-comprar:hover {
    background-color: #00b347 

}

.ver-mas {
    font-size: 17px;
    align-self: center;
    margin: 20px 0px;
    text-decoration: none;
    color: red;
}

.ver-mas:hover {
    text-decoration: underline;
}

/* -----------------CART RESPONSIVE----------------- */

@media (max-width: 830px) {
    .product-box{
        width: 100%;
        margin: 0px;
        padding: 0px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }


    .cart-section-box {
        width: 90%;
    }
    
    .product-image-container {
        width: 100%;
        margin-top: 10px;
    }

    .cart-product-img {
        height: 380px;
    }

    .cart-detail-info {
        font-size: 22px;
    }

    .main-info {
       width: 100%;
    }

    .cart-detail-info{
        text-align: center;
    }

    .buttons-container{
        text-align: center;
        margin-bottom: 10px;
    }

    .edit-container, .delete-container{
        text-align: center;
    }

    .boton-comprar{
        width: 60%;
    }
}

@media (max-width: 600px) {
    .cart-section-box {
        width: 100%;
    }

    .product-image-container {
        width: 100%;
    }

    .boton-comprar{
        width: 80%;
    }

}


/* ----------------------------------------[ADMIN PAGE]---------------------------------------- */

.admin-menu-main-container{
    margin-top: 80px;
    /* height: 750px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/main/section-background.jpeg);
    background-position: right;
    background-attachment: fixed;
}

.admin-menu-container{
    border: 1px solid gray;
    width: 60%;
    border-radius: 10px;
    background-color: white;
    margin: 80px 0px;
}


.admin-section-welcome-title{
    margin-bottom: 5px;
}


.admin-section-title-container{
    text-align: center;
    margin-top: 40px;
}

.admin-section-title{
    font-weight: bold;
    text-transform: uppercase;
}

.admin-product-add-container{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;

}

.admin-add-button{
    background-color: green;
    color: white;
    width: 25%;
    height: 30px;
}

.admin-add-button:hover{
    background-color: #00b347 
}

.add-icon{
    padding-right: 7px;
}

.admin-product-card-container{
    display: flex;
    margin: 5px auto 0px auto;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    width: 90%;
    background-color: #f4f4f4;
    margin-bottom: 10px;
    
}

.product-image-and-name-container{
    width: 50%;
    display: flex;
    align-items: center;
}

.admin-products-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.admin-product-img{
    height: 63px;
    border-radius: 10px;
    width: 70px;
}

.admin-product-name-container{
    width: 100%;
}


.admin-product-name{
    font-weight: 500;
    margin-left: 10px;
    font-size: 17px;
    font-weight: bold;
}


.edit-delete-buttons-container{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}



.admin-edit-button{
    background-color: orange;
    color: white;
    width: 100px;
    margin-right: 15px;
    height: 25px;
}

.admin-edit-button:hover{
    background-color: #da823f
}

.admin-delete-button{
    background-color: red;
    color: white;
    width: 100px;
    height: 25px;
}

.admin-delete-button:hover{
    background-color:black
}

.admin-delete-icon, .admin-edit-icon{
    padding-right: 7px;
}

@media (max-width:950px){
    .admin-menu-container{
        width: 90%;
    }
}

@media (max-width:640px){
    .admin-menu-container{
        width: 100%;
    }

    .admin-add-button{
        width: 35%;
    }
}

@media (max-width:500px){

    .admin-product-card-container{
        flex-wrap: wrap;
        align-items: center;
    }

    .admin-section-welcome-title{
        font-size: 18px;
    }

    .edit-delete-buttons-container{
        justify-content: flex-start;
        margin: 10px 5px;
    }
    .product-image-and-name-container{
        width:100%;
    }
    .admin-add-button{
        width: 50%;
    }
    .admin-edit-button{
        width:125px;
    }

    .admin-delete-button{
        width:125px;
    }

}

/* ----------------------------------------[ADMIN USERS]---------------------------------------- *//* -------------------------------------------------------------------------------------------- */

.admin-users-main-container{
    border: 1px solid gray;
    width: 60%;
    border-radius: 10px;
    background-color: white;
    margin: 80px 0px;
}
.admin-users-section-title-container{
    text-align: center;
    margin-top: 20px;
}

.admin-users-card-container{
    display: flex;
    margin: 5px auto 0px auto;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    width: 90%;
    background-color: #f4f4f4;
    margin-bottom: 10px;
}

.users-image-and-name-container{
    width: 50%;
    display: flex;
    align-items: center;
}

.admin-users-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-users-name-container{
    width: 100%;
}

.admin-users-name{
    font-weight: 500;
    margin-left: 10px;
    font-size: 17px;
    font-weight: bold;
}

.roles-buttons-container{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}


.user-admin-roles-container{
    width: 90%;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.roles-description-container{
    margin-top: 15px;
}

.roles-description-container ul li{
    font-size: 10px;
}

.super-admin-description{
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.admin-description{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

.user-description{
    color: #686868;
    font-size: 20px;
    font-weight: bold;
}

.user-admin-instructions{
    width: 90%;
    margin: 0px auto;
    margin-top: 15px;
    font-size: 11px;
}

.admin-important-data{
    font-size: 12px;
    margin-bottom: 2px;
}

.user-role{
    font-size: 12px;
}

.super-admin{
    color: green;
}

.super-admin-button{
    background-color: green;
}

.super-admin-button:hover{
    background-color: #00b347;
}

.admin{
    color: blue;
}

.admin-button{
    background-color: blue;
}

.admin-button:hover{
    background-color: rgb(100, 100, 255);
}

.user{
    color: #686868
}

.user-button{
    background-color: #686868
}

.user-button:hover{
    background-color: #949090
}

.user-delete-button{
    background-color: red;
}

.user-delete-button:hover{
    background-color: rgb(161, 53, 53);
}

.admin-users-button{
    color: white;
    margin-right: 15px;
    height: 25px;
    width: 120px;
}

.admin-users-icons{
    padding-right: 7px;
}

@media(max-width:1150px){
    .admin-users-main-container{
        width: 90%;
    }
}

@media(max-width:750px){
    .admin-users-main-container{
        width: 100%;
    }
    .admin-users-card-container{
        width: 100%;
    }
}

@media(max-width:650px){
    .users-image-and-name-container{
        width: 100%;
    }
    .admin-users-card-container{
        flex-wrap: wrap;
    }
    .roles-buttons-container{
        justify-content: flex-start;
        margin: 5px
    }
}

@media(max-width:410px){
    .roles-buttons-container{
        flex-direction: column;
        width: 100%;
    }

    .roles-buttons-container form button{
        width: 250px;
        margin: 5px;
    }
}



/* ------------------------------------ADMIN ADD/EDIT PRODUCT-RUTINE PAGE------------------------------------ */

.add-edit-product-rutine-card-main-container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/main/section-background.jpeg);
    background-size: cover;
    background-attachment: fixed;
} 

.add-edit-product-rutine-card-container{
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
    align-items: flex-start;
    margin: 80px 0px;
}

.add-edit-product-rutine-card-form-container{
    width:100%;
    height: 100%;
    margin: 0px 40px;
    margin-top: 30px;
    padding-bottom: 10px;
}

.admin-inputs-containers {
    height: 100px;
}

.admin-inputs-containers2{
    height: 180px;
}

.admin-options-containers{
    height: 40px;
}

.admin-img-2{
    margin-bottom: 25px;
}


.admin-label-container{
    margin-top: 10px;
    margin-bottom: 15px;
}

.admin-labels{
    font-weight: bold;
}


.add-edit-product-input{
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    background-color: #f4f4f4;
}

.add-edit-product-input-textarea{
    width: 100%;
    margin-bottom: 5px;
    height: 120px;
}

.admin-select-category{
    margin-left: 5px;
}

.admin-label-option-container{
    margin-bottom: 5px;
}


.admin-radio-input{
    margin-left: 5px;
}

.add-edit-product-image-label{
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.add-edit-product-image-input{
    display: inline;
}

.form-add-edit-product-button-container{
    text-align: center;
    width: 100%;
}


.product-add-icon{
    padding-right: 7px;
}

.save-changes-icon{
    padding-right: 10px;
}


.add-edit-product-create-product-button{
    background-color: green;
    color: white;
    width: 400px;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.add-edit-product-create-product-button:hover{
    background-color: #00b347 
}




@media (max-width:1024px){
    .add-edit-product-rutine-card-container{
        width: 80%;
    }
}

@media (max-width:600px){

    .add-edit-product-rutine-card-container{
        width: 100%;
    }
    .add-edit-product-rutine-card-form-container{
        margin: 20px 20px;
    }

    .add-edit-product-create-product-button{
        width: 100%;
        margin-bottom: 20px;
    }
    .add-edit-product-create-product-button{
        margin-bottom: 10px;
    }

}


/* ------------------------------------CONTACT------------------------------------ */

.contact-section-main-container{
    margin-top: 80px;
    background-image: url(/images/main/contact-background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.contact-section-container{
    width: 50%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 80px 0px;
    display: flex;
    flex-wrap: wrap;
}

.contact-welcome-container{
    height: 80px;
}

.contact-form-container{
    margin-top: 30px;
    text-align: left;
    width: 60%;
}

.contact-inputs{
    width: 90%;
    margin-bottom: 30px;
    border-radius: 10px;
}

.contact-textarea{
    width: 90%;
    margin-bottom: 30px;
}


.contact-icon{
    padding-right: 10px;
}

.contact-button-send{
    width: 40%;
    height: 35px;
    background-color: green;
    color: white;
    font-size: 16px;
    position: relative;
    bottom: 10px;
}

.contact-extra-container{
    width: 40%;
    margin-top: 30px;
    padding-left: 40px;
}

.contact-extra-info{
    font-weight: lighter;
    margin-bottom: 30px;
}

@media (max-width:1444px){
    .contact-section-container{
        width: 70%
    }
}

@media (max-width:1000px){
   
    .contact-section-container{
        width: 80%;
    }

    .contact-inputs{
        width:100%
    }

    .contact-textarea{
        width:100%
    }
    .contact-form-container{
        width:100%;
        position: relative;
        bottom: 200px;
        padding: 0px 25px;
    }
    .contact-extra-container{
        width: 90%;
        position: relative;
        top: 450px;
    }
}

@media (max-width:600px){
    .contact-section-container{
        width: 100%;
    }
    .contact-button-send{
        width: 60%;
    }
}

/* ------------------------------------PROFILE------------------------------------ */

.profile-main-container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/main/profile.jpg);
}

.profile-container{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 80px 0px;
    border-radius: 15px;
    border: 1px solid gray;
    justify-content: center;
}

.profile.left.side{
    width: 40%;  
}

.admin-access-button{
    width: 100%;
    height: 30px;
    position: center;
    left: 55px;
    margin: 5px 0px 5px 0px;
    background-color: black;
    color: white
}

.admin-access-button:hover{
    background-color: rgb(51, 48, 48);
}

.user-admin-profile{
    background-color: blue;
}

.user-admin-profile:hover{
    background-color: rgb(100, 100, 255);
}

.admin-edit-button:hover{
    background-color: gray
}

.profile-avatar-container{
    width: 40%;
}

.profile-page-avatar{
    width:250px;
    height:250px;
    border-radius:150px;
    margin-top: 30px;
}

.profile-avatar-text{
    position: relative;
    left: 100px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}



.profile-information{
    width: 90%;
    margin: 20px auto;
    height: 80px;
    position: relative;
    left: 20px;
}


.profile-labels{
    font-weight: bold;
}

.profile-inputs{
    margin-top: 5px;
    width: 240px;
}

.profile-edit-button{
    width: 60%;
    height: 30px;
    position: relative;
    left: 55px;
    margin-bottom: 20px;
    background-color:orange;
    color: white
}

.profile-edit-button:hover{
    background-color: gray
}

.profile-logout-button{
    width: 60%;
    height: 30px;
    position: relative;
    left: 55px;
    margin-bottom: 20px;
    background-color: red;
    color: white
}

.profile-logout-button:hover{
    background-color: black;
}



.profile-icons{
    padding: 7px;
}

.profile-message-container{
    width: 60%;
    margin: 0px auto;
    margin-bottom: 10px;
}

.profile-message{
    font-size: 14px;
    color: red;
    font-weight: bold;
}

@media (max-width:1350px){
    .profile-container{
        width: 50%;
    }
}

@media (max-width:1100px){
    .profile-container{
        width: 60%;
    }
}

@media (max-width:900px){
    .profile-avatar-container{
        width: 100%;
        text-align: center;
    }

    .profile-information-container{
        width: 80%;
        margin: 5px 20px;
    }

    .profile-information,.profile-message-container{
        width: 100%;
    }
    

    .profile-avatar-text{
        left: 8px;   
    }

    .profile-inputs{
        width: 90%;
    }

    .profile-edit-button,.profile-logout-button{
        width: 80%;
        left:30px ;
    }
    
}

@media (max-width:600px){
    .profile-container{
        width: 90%;
    }

    .profile-information-container{
        width: 100%;
    }
}



.profile-save-edit-button{
    background-color: green;
}

.profile-save-edit-button:hover{
    background-color: #00b347 
}

/* --------------ESTILOS DE VALIDACIONES DEL FRONT END-------------------------------- */

/* Generales */

small{
    display: block;
}

.wrong-label{
    color: red;
}

.wrong-input, .wrong-input:focus{
    border: 2px solid red;
}


.front-error-active,.front-blank-error-active{
    display: block;
    text-align: center;
}

.front-error-inactive,.front-blank-error-inactive{
    display: none;
}

/* login - register */
.front-login-register-error-style{
    color: red;
    font-size: 10px;
    font-weight: 700;
    padding-top: 5px;
}

/* Profile */
.front-profile-error-style{
    color: red;
    font-style: bold;
    font-size: 10px;
    font-weight: 700;
    padding-top: 5px;
    text-align: left;
}


.front-create-rutine-error-style{
    color: red;
    font-size: 10px;
    font-weight: 700;
    padding-top: 2px;
    margin-bottom: auto;
}

