<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head") %> 
<body>
 
    <%- include("./partials/header") %> 
   
    <main>
        <div class="admin-menu-main-container">
            <div class="admin-menu-container">
                <div class="sections-welcome-titles-container">
                    <h2 class="sections-welcome-titles">¡Bienvenido a la vista de administrador!</h2>
                    <p class="sections-welcome-description">Puedes agregar, editar o eliminar productos y rutinas</p>
                </div>
                <section>
                    <div class="admin-products-main-container">
                        <div class="admin-product-container">
                            <div class="admin-section-title-and-add-button">
                                    <div class="admin-section-title-container">
                                        <h2 class="admin-section-title">Productos</h2>
                                        <p>Lista de productos disponibles</p>
                                    </div>

                                    <div class="admin-product-add-container">
                                        <form action="/products/create">
                                            <button type="submit" class="admin-add-button buttons-style"><i class="fas fa-plus add-icon"></i>Agregar producto</button>
                                        </form>
                                    </div>
                            </div>
                                
                                <article>
                                    <div class="admin-product-card-container">
                                        <div class="product-image-and-name-container">
                                            <div class="admin-products-image-container">
                                                    <img src="/img/product-mancuernas.jpg" alt="" class="admin-product-img">
                                            </div>
                                            <div class="admin-product-name-container">
                                                    <h2 class="admin-product-name">Mancuernas</h2>
                                            </div>
                                        </div>
                                        <div class="edit-delete-buttons-container">
                                            <form action="/products/edit">
                                                <button type="submit" class="admin-edit-button buttons-style"><i class="fas fa-edit admin-edit-icon"></i>Editar</button>
                                            </form>
                                            <form action="">
                                                <button type="submit" class="admin-delete-button buttons-style"><i class="far fa-trash-alt admin-delete-icon"></i>Eliminar</button>
                                            </form>
                                        </div>
                                    </div>
                                
                                </article>

                                <article>
                                    <div class="admin-product-card-container">
                                        <div class="product-image-and-name-container">
                                            <div class="admin-products-image-container">
                                                    <img src="/img/product-colchoneta.jpg" alt="" class="admin-product-img">
                                            </div>
                                            <div class="admin-product-name-container">
                                                    <h2 class="admin-product-name">Colchoneta impermeable</h2>
                                            </div>
                                        </div>
                                        <div class="edit-delete-buttons-container">
                                            <form action="/products/edit">
                                                <button type="submit" class="admin-edit-button buttons-style"><i class="fas fa-edit admin-edit-icon"></i>Editar</button>
                                            </form>
                                            <form action="">
                                                <button type="submit" class="admin-delete-button buttons-style"><i class="far fa-trash-alt admin-delete-icon"></i>Eliminar</button>
                                            </form>
                                        </div>
                                    </div>
                                
                                </article>
                    
                        </div>
                    </div>
                </section>

                <section>
                    <div class="admin-products-main-container">
                        <div class="admin-product-container">
                            <div class="admin-section-title-and-add-button">
                                    <div class="admin-section-title-container">
                                        <h2 class="admin-section-title">Rutinas</h2>
                                        <p>Lista de rutinas disponibles</p>
                                    </div>

                                    <div class="admin-product-add-container">
                                        <form action="/rutines/create">
                                            <button type="submit" class="admin-add-button buttons-style"><i class="fas fa-plus add-icon"></i>Agregar rutina</button>
                                        </form>
                                    </div>
                            </div>
                                
                                <article>
                                    <div class="admin-product-card-container">
                                        <div class="product-image-and-name-container">
                                            <div class="admin-products-image-container">
                                                    <img src="/img/rutine-abs.jpg" alt="" class="admin-product-img">
                                            </div>
                                            <div class="admin-product-name-container">
                                                    <h2 class="admin-product-name">Abdominales</h2>
                                            </div>
                                        </div>
                                        <div class="edit-delete-buttons-container">
                                            <form action="/rutines/edit">
                                                <button type="submit" class="admin-edit-button buttons-style"><i class="fas fa-edit admin-edit-icon"></i>Editar</button>
                                            </form>
                                            <form action="">
                                                <button type="submit" class="admin-delete-button buttons-style"><i class="far fa-trash-alt admin-delete-icon"></i>Eliminar</button>
                                            </form>
                                        </div>
                                    </div>
                                
                                </article>

                                <article>
                                    <div class="admin-product-card-container">
                                        <div class="product-image-and-name-container">
                                            <div class="admin-products-image-container">
                                                    <img src="/img/rutine-piernas.jpg" alt="" class="admin-product-img">
                                            </div>
                                            <div class="admin-product-name-container">
                                                    <h2 class="admin-product-name">Piernas</h2>
                                            </div>
                                        </div>
                                        <div class="edit-delete-buttons-container">
                                            <form action="/rutines/edit">
                                                <button type="submit" class="admin-edit-button buttons-style"><i class="fas fa-edit admin-edit-icon"></i>Editar</button>
                                            </form>
                                            <form action="">
                                                <button type="submit" class="admin-delete-button buttons-style"><i class="far fa-trash-alt admin-delete-icon"></i>Eliminar</button>
                                            </form>
                                        </div>
                                    </div>
                                
                                </article>
                    
                        </div>
                    </div>
                </section>
        
            </div>
        </div>
    </main>

    <%- include("./partials/footer") %> 
</body>
</html>