<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %> 
<body>
    <%- include("./partials/header") %> 

    <main>
        <section>
            <article>
                <div class="add-edit-product-rutine-card-main-container">
                    <div class="add-edit-product-rutine-card-container">
                        <div class="sections-welcome-titles-container">
                            <h2 class="sections-welcome-titles">Nueva Rutina</h2>
                            <p class="sections-welcome-description">Completa los campos para crear una nueva rutina</p>
                        </div>
                        <div class="add-edit-product-rutine-card-form-container">
                            <form action="/admin">
                                <input type="text" name="" id="add-edit-product-name" class="add-edit-product-input inputs-fields" placeholder="Nombre de la rutina" >
                        
                                <input type="number" name="" id="add-edit-product-price" class="add-edit-product-input inputs-fields" placeholder="Precio">
                    
                                <textarea name="" id="add-edit-product-description" cols="30" rows="10" class="add-edit-product-input-textarea textarea-styles" placeholder="Descripción"></textarea>
                                
                                <input type="text" name="" id="add-edit-product-brand" class="add-edit-product-input inputs-fields" placeholder="Duración">           
                                
                                <label for="add-edit-product-image-input" class="add-edit-product-image-label">Imagen de la rutina</label>
                                <input type="file" class="add-edit-product-image-input">
        
                                <div class="form-add-edit-product-button-container">
                                    <button type="submit" class="add-edit-product-create-product-button buttons-style"><i class="fas fa-plus product-add-icon"></i>Crear rutina</button>
                                    <button type="reset" class="add-edit-product-cancel-product-button buttons-style"><i class="fas fa-times product-add-cancel-icon"></i>Cancelar</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>


            </article>
        </section>
    </main>

    <%- include("./partials/footer") %> 
</body>
</html>