<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %> 
<body>
    <%- include("./partials/header") %> 
   
    <div class="home-banner">
        <section>
            <div class="banner-container">
                <img src="images/homepage-banner.jpg" alt="Banner" class="banner-image">
            </div>
        </section>
    </div>

    <main>
        <section class="mas-vendidos">
            <h2 class="section-title">Los productos más vendidos</h2>
            <p class="section-title-description">Estos son los productos más procurados últimamente</p>
            <div class="articles-container">
                <article class="article-mancuernas articles">
                    <img src="/images/product-mancuernas.jpg" alt="mancuernas" class="mancuernas-image mas-vendidos-img">
                    <h2 class="product-names">Mancuernas hexagonales</h2>
                    <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <!-- <p class="product-price">$5000</p> -->
                    <form action="/products/detail" class="button-padre">
                        <button type="submit" class="comprar-button buttons-style">Comprar</button>
                    </form>
                </article>

                <article class="article-mancuernas-tope articles">
                    <img src="images/mancuerna-tope.jpg" alt="mancuernas con topes" class="mancuernas-tope mas-vendidos-img">
                    <h2 class="product-names">Mancuerna con topes</h2>
                    <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <!-- <p class="product-price">$5000</p> -->
                    <form action="/products/detail" class="button-padre">
                        <button type="submit" class="comprar-button buttons-style">Comprar</button>
                    </form>
                </article>

                <article class="article-barra-puerta articles">
                    <img src="images/product-barra.jpg" alt="barra para la puerta" class="barra-puerta mas-vendidos-img">
                    <h2 class="product-names">Barra de dominadas</h2>
                    <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <!-- <p class="product-price">$5000</p> -->
                    <form action="/products/detail" class="button-padre">
                        <button type="submit" class="comprar-button buttons-style">Comprar</button>
                    </form>
                </article>

                <article class="article-banda-elastica articles">
                    <img src="images/product-banda.jpg" alt="Banda elástica con manijas" class="banda-elastica mas-vendidos-img">
                    <h2 class="product-names">Banda elástica con manijas</h2>
                    <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <!-- <p class="product-price">$5000</p> -->
                    <form action="/products/detail" class="button-padre">
                        <button type="submit" class="comprar-button buttons-style">Comprar</button>
                    </form>
                </article>

                <article class="article-colchoneta articles">
                    <img src="images/product-colchoneta.jpg" alt="Colchoneta" class="colchoneta mas-vendidos-img">
                    <h2 class="product-names">Colchoneta impermeable</h2>
                    <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <!-- <p class="product-price">$5000</p> -->
                    <form action="/products/detail" class="button-padre">
                        <button type="submit" class="comprar-button buttons-style">Comprar</button>
                    </form>
                </article>

                <article class="article-tobillera articles">
                    <img src="images/product-tobillera.jpg" alt="Tobillera con peso" class="tobillera mas-vendidos-img">
                    <h2 class="product-names">Tobilleras con cierre</h2>
                    <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <!-- <p class="product-price">$5000</p> -->
                    <form action="/products/detail" class="button-padre">
                        <button type="submit" class="comprar-button buttons-style">Comprar</button>
                    </form>
                </article>
            </div>
        </section>

        <section class="rutinas">
            <h2 class="section-title">Rutinas más populares</h2>
            <p class="section-title-description">Estas son las rutinas más vistas por los usuarios</p>
            <div class="rutinas-articles-container">
                <article class="article-biceps rutina-articles">
                    <img src="images/rutine-biceps.jpg" alt="Biceps" class="biceps-image rutinas-img">
                    <h2 class="product-names">Biceps</h2>
                    <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <form action="" class="button-padre">
                        <button type="submit" class="ver-mas-button buttons-style">Ver más</button>
                    </form>
                </article>

                <article class="article-abdominales rutina-articles">
                    <img src="images/rutine-abs.jpg" alt="abdominales" class="abdominales-image rutinas-img">
                    <h2 class="product-names">Abdominales</h2>
                    <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <form action="" class="button-padre">
                        <button type="submit" class="ver-mas-button buttons-style">Ver más</button>
                    </form>
                </article>

                <article class="article-resistencia rutina-articles">
                    <img src="images/rutine-resistencia.jpg" alt="Resistencia" class="resistencia-image rutinas-img">
                    <h2 class="product-names">Resistencia</h2>
                    <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <form action="" class="button-padre">
                        <button type="submit" class="ver-mas-button buttons-style">Ver más</button>
                    </form>
                </article>

                <article class="article-piernas rutina-articles">
                    <img src="images/rutine-piernas.jpg" alt="Piernas" class="piernas-image rutinas-img">
                    <h2 class="product-names">Piernas</h2>
                    <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <form action="" class="button-padre">
                        <button type="submit" class="ver-mas-button buttons-style">Ver más</button>
                    </form>
                </article>
            </div>
        </section>
    </main>

    <%- include("./partials/footer") %> 
</body>
</html>