<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energym - Login</title>
    <link rel="stylesheet" href="./css/styles-login.css">
    <link rel="stylesheet" href="./css/header-footer-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>

    <header>
        <div class="first-line-container">
            <div class="logo-container">
                <a href="/"><img src="./img/energym-logo.png" alt="Logo Energym" class="energym-logo"></a>
            </div>

            <div class="search-bar-main-container">
                    <form action="" class="form-c">
                        <div class="search-bar-container">
                            <input type="search" name="search-bar" id="search-bar" placeholder="Buscar productos..." class="search-bar-input">
                            <label for="search-bar" class="search-icon-container"><i class="fas fa-search search-icon"></i></label>
                        </div>
                    </form>
            </div>

            <div class="menu-icon-container">
                <label for="check-menu-input"><i class="fas fa-bars menu-icon"></i></label>
            </div>

          
                <div class="main-nav-container">
                    <nav>
                        <ul class="main-nav-list">
                            <li><a href="/" class="main-nav-item">Inicio</a></li>
                            <li><a href="#" class="main-nav-item">Productos</a></li>
                            <li><a href="#" class="main-nav-item">Rutinas</a></li>
                            <li><a href="#" class="main-nav-item">Contacto</a></li>
                            <li><a href="/login" class="main-nav-item-icon main-nav-item"><i class="fas fa-user register-icon"></i></a></li>
                        </ul>
                    </nav>
                </div>
       
        </div>
    
    </header>
 
    <main>
        <section class="login-main-container">
            <article class="login-container">
                <div class="login-title-container">
                    <h2 class="login-main-title">Iniciar sesión</h2>
                </div>

                <div class="login-inputs-container">
                    <form action="/" method="GET" class="form-container">
                        
                        <div class="login-email-container general-containers">
                            <label for="email-login" class="login-inputs-titles">Correo Electrónico<span class="mandatory">*</span></label>
                            <input type="email" name="email-login" id="email-login" class="email-login-input all-login-inputs" required>
                        </div>
                        
                        <div class="login-password-container general-containers">
                            <label for="password" class="login-inputs-titles">Contraseña<span class="mandatory">*</span></label>
                            <input type="password" name="password" id="password" class="password-login-input all-login-inputs">
                         </div>
                        
                         <div class="remember-me-container">
                            <label for="remember-me">Recordarme</label>
                            <input type="checkbox" id="remember-me" class="remember-login-input">
                        </div>

                        <div class="buttons-container general-containers">
                            <button type="submit" class="login-button general-button">Ingresar</button>
                        </div>
                    </form>
                </div>
                <div class="register-account-container">
                    <h4><a href="#" class="forgot-password">Olvide mi contraseña</a></h4>
                    <h4 class="no-account">¿No tenés cuenta?<a href="/register" class="register-account"> Registrate</a></h4>
                </div>

            </article>
        </section>
    </main>
       

    <footer>
        <section>
            <div class="footer-first-part">
                <div class="footer-envio footer-container">
                    <article class="footer-article">
                        <i class="fas fa-truck envio-icon footer-icon"></i>
                        <h3 class="footer-service-title">Gastos de envío</h3>
                        <p class="footer-detail">Gastos de envío gratis por compras superiores a $4000</p>
                    </article>
                </div>

                <div class="footer-devolucion footer-container">
                    <article class="footer-article">
                        <i class="fas fa-sync-alt devolucion-icon footer-icon"></i>
                        <h3 class="footer-service-title">Fácil devolución</h3>
                        <p class="footer-detail">Hace tus devoluciones de forma sencilla y rápida.</p>
                    </article>
                </div>
            

                <div class="footer-compra-segura footer-container">
                    <article class="footer-article">
                        <i class="fas fa-user-shield compra-segura-icon footer-icon"></i>
                        <h3 class="footer-service-title">Compra segura</h3>
                        <p class="footer-detail">Tu compra esta asegurada</p>
                    </article>
                </div>

                <div class="footer-garantia footer-container">
                <article class="footer-article">
                    <i class="far fa-calendar-check garantia-icon footer-icon"></i>
                    <h3 class="footer-service-title">Garantía</h3>
                    <p class="footer-detail">Todos los productos cuentan con garantia de 1 año</p>
                </article>
                </div>
            </div>
        </section>

        <section>
            <div class="footer-bottom-part">

                <div class="footer-logo-container">
                    <img src="./img/energym-logo.png" alt="" class="energym-logo-footer">
                </div>

                <div class="footer-menu-icon-container">
                    <label for="check-menu-input"><i class="fas fa-bars footer-menu-icon"></i></label>
                </div>
                
                
                <nav class="footer-nav">
                    <ul class="footer-list">
                        <li><a href="/" class="footer-list-item" >Inicio</a></li>
                        <li><a href="#" class="footer-list-item">Productos</a></li>
                        <li><a href="#" class="footer-list-item">Rutinas</a></li>
                        <li><a href="#" class="footer-list-item">Contacto</a></li>
                    </ul>
                </nav>

                <div class="social-icons-container">
                    <h3 class="social-cta">Síguenos en nuestras redes sociales</h3>
                    <i class="fab fa-facebook social-icon"></i>
                    <i class="fab fa-instagram social-icon"></i>
                    <i class="fab fa-twitter-square social-icon"></i>
                    <i class="fab fa-youtube social-icon"></i>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>