<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %> 

    <main>
        <section>
            <article>
                <div class="product-detail-main-container">
                    <div class="product-detail-container">
                        <div class="sections-welcome-titles-container">
                            <h2 class="sections-welcome-titles product-detail-welcome-title">Detalle del producto: Colchoneta Flex</h2>
                        </div>
                
                        <div class="product-detail-img-container">
                             <img src="/images/products/product-colchoneta.jpg" alt="" class="product-detail-img">
                        </div>

                        <div class="product-name-and-price-container">
                           
                            <div class="product-name-container">
                                <h1 class="product-detail-name">Colchoneta Flex</h1>
                            </div>

                            <div class="product-detail-description-container">
                                <h2 class="product-detail-description">Colchoneta flexible de gran resistencia, ideal para hacer cualquier tipo de ejercicio físico como: abdominales, espinales, puente, entre otros. Su superficie tramada evita que la colchoneta se deslice a la hora de hacer los ejercicios.</h2>
                            </div>

                            <div class="product-detail-information-container">
                                <h3 class="product-detail-information">Peso total: <span class="product-detail-information-detail">1Kg</span></h3>
                                <h3 class="product-detail-information">Medidas: <span class="product-detail-information-detail">50 x 100 cm</span></h3>
                                <h3 class="product-detail-information">Material: <span class="product-detail-information-detail">Goma</span></h3>
                            </div>
                            
                            <div class="product-price-container">
                                <h2 class="product-detail-price">Precio: <span>$2000</span></h2>
                            </div>

                            <div class="product-detail-form-container">
                                <form action="/products/cart">
                                    <div class="product-amount-container">
                                        <label for="product-detail-amount" class="product-detail-amount-label">Cantidad:</label>
                                        <input type="number" id="product-detail-amount" class="product-detail-amount-field inputs-fields">
                                    </div>
                                    <button type="submit" class="buttons-style product-detail-button"><i class="fas fa-shopping-cart sumar-carrito"></i>Sumar al carrito</button>
                                </form>
                            </div>
                            
                            <div class="product-extra-info-container">
                                <h3 class="product-extra-info"><i class="far fa-credit-card product-detail-icon"></i>Pagá en cuotas sin interes</h2>
                                <h3 class="product-extra-info"><i class="fas fa-truck envio-icon product-detail-icon"></i>Envio gratis apartir de $4000</h2>     
                            </div>

                        </div>
                        
                    </div>
                </div>
            </article>
        </section>
       
    
    </main>


    <%- include("../partials/footer") %> 
    
</body>
</html>