<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Energym - Product details</title>
    <link rel="stylesheet" href="./css/styles-product-detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="./css/header-footer-styles.css">
</head>
<body>
    <header>
        <div class="first-line-container">
            <div class="logo-container">
                <a href="/"><img src="./img/energym-logo.png" alt="Logo Energym" class="energym-logo"></a>
            </div>

            <div class="search-bar-main-container">
                    <form action="" class="form-c">
                        <div class="search-bar-container">
                            <input type="search" name="search-bar" id="search-bar" placeholder="Buscar productos..." class="search-bar-input">
                            <label for="search-bar" class="search-icon-container"><i class="fas fa-search search-icon"></i></label>
                        </div>
                    </form>
            </div>

            <div class="menu-icon-container">
                <label for="check-menu-input"><i class="fas fa-bars menu-icon"></i></label>
            </div>

          
                <div class="main-nav-container">
                    <nav>
                        <ul class="main-nav-list">
                            <li><a href="/" class="main-nav-item">Inicio</a></li>
                            <li><a href="#" class="main-nav-item">Productos</a></li>
                            <li><a href="#" class="main-nav-item">Rutinas</a></li>
                            <li><a href="#" class="main-nav-item">Contacto</a></li>
                            <li><a href="/login" class="main-nav-item-icon main-nav-item"><i class="fas fa-user register-icon"></i></a></li>
                        </ul>
                    </nav>
                </div>
       
        </div>
    
    </header>

    <main>
        <section>
            <article class="main-container-product-detail">
                <div class="product-detail-container">
                    <div class="section-title-container">
                        <h1 class="section-main-title">Detalle del producto</h1>
                    </div>
                    <div class="product-detail-image-container">
                        <img src="./img/colchoneta.jpg" alt="colchoneta" class="product-detail-image">
                    </div>
                    <div class="product-detail-description-container" style="margin:0px">
                        <h3 class="product-detail-name product-detail-all-info">Colchoneta impermeable</h3>
                        <p class="product-detail-price product-detail-all-info">Precio: $2,000.00</p>
                        <p class="product-detail-status product-detail-all-info"><i class="fas fa-check stock-icon"></i>En stock</p>
                        <form action="/cart" class="product-number-cart-container product-detail-all-info">
                            <input type="number" value="1" class="product-number-input">
                            <button type="submit" class="product-cart-input"><i class="fas fa-shopping-cart carrito-icon"></i>Agregar al carrito</button>
                        </form>
                        <h3 class="product-description product-detail-all-info">Descripción del producto</h3>
                        <p class="product-description-text product-detail-all-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio.</p>
                        <h4 class="product-brand product-detail-all-info">Marca: <span class="product-specific-info">Mir.</span></h4>
                        <h4 class="product-weight product-detail-all-info">Peso total: <span class="product-specific-info">1Kg.</span></h4>
                        <h4 class="product-material product-detail-all-info">Material: <span class="product-specific-info">superior bagun,  inferior friselina, relleno de espuma de polietileno.</span></h4>
                        <h4 class="product-spects product-detail-all-info">Medidas: <span class="product-specific-info">100 cm x 40 cm.</span></h4>
                        <h4 class="product-spects product-detail-all-info">Espesor: <span class="product-specific-info">3cm.</span></h4>
                    </div>

                </div>
            </article>
        </section>
    </main>


    <footer>
        
        <div class="footer-first-part">
            <div class="footer-envio footer-container">
                <article class="footer-article">
                    <i class="fas fa-truck envio-icon footer-icon"></i>
                    <h3 class="footer-service-title">Gastos de envío</h3>
                    <p class="footer-detail">Gastos de envío gratis por compras superiores a $4000</p>
                </article>
            </div>

            <div class="footer-devolucion footer-container">
                <article class="footer-article">
                    <i class="fas fa-sync-alt devolucion-icon footer-icon"></i>
                    <h3 class="footer-service-title">Fácil devolución</h3>
                    <p class="footer-detail">Hace tus devoluciones de forma sencilla y rápida.</p>
                </article>
            </div>
        

            <div class="footer-compra-segura footer-container">
                <article class="footer-article">
                    <i class="fas fa-user-shield compra-segura-icon footer-icon"></i>
                    <h3 class="footer-service-title">Compra segura</h3>
                    <p class="footer-detail">Tu compra esta asegurada</p>
                </article>
            </div>

            <div class="footer-garantia footer-container">
            <article class="footer-article">
                <i class="far fa-calendar-check garantia-icon footer-icon"></i>
                <h3 class="footer-service-title">Garantía</h3>
                <p class="footer-detail">Todos los productos cuentan con garantia de 1 año</p>
            </article>
            </div>
        </div>

        <div class="footer-bottom-part">
            
            <div class="footer-logo-container">
                <img src="./img/energym-logo.png" alt="" class="energym-logo-footer">
            </div>

            <div class="footer-menu-icon-container">
                <label for="check-menu-input"><i class="fas fa-bars footer-menu-icon"></i></label>
            </div>
            
            
            <nav class="footer-nav">
                <ul class="footer-list">
                    <li><a href="/" class="footer-list-item" >Inicio</a></li>
                    <li><a href="#" class="footer-list-item">Productos</a></li>
                    <li><a href="#" class="footer-list-item">Rutinas</a></li>
                    <li><a href="#" class="footer-list-item">Contacto</a></li>
                </ul>
            </nav>

            <div class="social-icons-container">
                <h3 class="social-cta">Síguenos en nuestras redes sociales</h3>
                <i class="fab fa-facebook social-icon"></i>
                <i class="fab fa-instagram social-icon"></i>
                <i class="fab fa-twitter-square social-icon"></i>
                <i class="fab fa-youtube social-icon"></i>
            </div>
        </div>
    </footer>
</body>
</html>