<footer>
        
    <div class="footer-first-part">
        <div class="footer-envio footer-container">
            <article class="footer-article">
                <i class="fas fa-truck envio-icon footer-icon"></i>
                <h3 class="footer-service-title">Gastos de envío</h3>
                <p class="footer-detail">Gastos de envío gratis por compras superiores a $4000</p>
            </article>
        </div>

        <div class="footer-devolucion footer-container">
            <article class="footer-article">
                <i class="fas fa-sync-alt devolucion-icon footer-icon"></i>
                <h3 class="footer-service-title">Fácil devolución</h3>
                <p class="footer-detail">Hace tus devoluciones de forma sencilla y rápida.</p>
            </article>
        </div>
    

        <div class="footer-compra-segura footer-container">
            <article class="footer-article">
                <i class="fas fa-user-shield compra-segura-icon footer-icon"></i>
                <h3 class="footer-service-title">Compra segura</h3>
                <p class="footer-detail">Tu compra esta asegurada</p>
            </article>
        </div>

        <div class="footer-garantia footer-container">
        <article class="footer-article">
            <i class="far fa-calendar-check garantia-icon footer-icon"></i>
            <h3 class="footer-service-title">Garantía</h3>
            <p class="footer-detail">Todos los productos cuentan con garantia de 1 año</p>
        </article>
        </div>
    </div>

    <div class="footer-bottom-part">
        
        <div class="footer-logo-container">
            <a href="/"><img src="/images/main/energym-logo.png" alt="" class="energym-logo-footer"></a>
        </div>

        <div class="footer-menu-icon-container">
            <label for="check-menu-input"><i class="fas fa-bars footer-menu-icon"></i></label>
        </div>
        
        
        <nav class="footer-nav">
            <ul class="footer-list">
                <li><a href="/" class="footer-list-item" >Inicio</a></li>
                <li><a href="/products" class="footer-list-item">Productos</a></li>
                <li><a href="/rutines" class="footer-list-item">Rutinas</a></li>
                <li><a href="/contact" class="footer-list-item">Contacto</a></li>
            </ul>
        </nav>

        <div class="social-icons-container">
            <h3 class="social-cta">Síguenos en nuestras redes sociales</h3>
            <i class="fab fa-facebook social-icon"></i>
            <i class="fab fa-instagram social-icon"></i>
            <i class="fab fa-twitter-square social-icon"></i>
            <i class="fab fa-youtube social-icon"></i>
        </div>
    </div>
</footer>