<header>
    <div class="first-line-container">
        <div class="logo-container">
            <a href="/"><img src="/images/main/energym-logo.png" alt="Logo Energym" class="energym-logo"></a>
        </div>

        <div class="search-bar-main-container">
                <form action="" class="form-c">
                    <div class="search-bar-container">
                        <input type="search" name="search-bar" id="search-bar" placeholder="Buscar productos..." class="search-bar-input">
                        <label for="search-bar" class="search-icon-container"><i class="fas fa-search search-icon"></i></label>
                    </div>
                </form>
        </div>

        <div class="menu-icon-container">
            <label for="check-menu-input"><i class="fas fa-bars menu-icon"></i></label>
        </div>

      
            <div class="main-nav-container">
                <nav>
                    <ul class="main-nav-list">
                        <li><a href="/" class="main-nav-item">Inicio</a></li>
                        <li><a href="#" class="main-nav-item">Productos</a></li>
                        <li><a href="#" class="main-nav-item">Rutinas</a></li>
                        <li><a href="/contact" class="main-nav-item">Contacto</a></li>
                        <li><a href="/users/login" class="main-nav-item-icon main-nav-item"><i class="fas fa-user register-icon"></i></a></li>
                        <li><a href="/products/cart" class="main-nav-item-icon main-nav-item"><i class="fas fa-shopping-cart cart-icon"></i></a></li>
                    </ul>
                </nav>
            </div>
   
    </div>

</header>