<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %> 
    <body>
        <%- include("../partials/header") %> 

        <main>
            <section>
                <article>
                    <div class="add-edit-product-rutine-card-main-container">
                        <div class="add-edit-product-rutine-card-container">
                            <div class="sections-welcome-titles-container">
                                <h2 class="sections-welcome-titles">Nuevo Producto</h2>
                                <p class="sections-welcome-description">Completa los campos para crear un nuevo producto</p>
                            </div>
                            <div class="add-edit-product-rutine-card-form-container">
                                <form action="/admin">
                                    
                                    <div class="admin-inputs-containers">
                                        <div class="admin-label-container">
                                            <label for="add-edit-product-name" class="admin-labels">Nombre del producto</label>
                                        </div> 
                                        <input type="text" name="name" id="add-edit-product-name" class="add-edit-product-input inputs-fields" placeholder="Ej: Colchoneta Flex" >
                                    </div>
                                   
                                    <div class="admin-inputs-containers">
                                        <div class="admin-label-container">
                                            <label for="add-edit-product-price" class="admin-labels">Precio</label>
                                        </div>
                                        <input type="number" name="price" id="add-edit-product-price" class="add-edit-product-input inputs-fields" placeholder="Ej: 2000">
                                    </div>

                                    <div class="admin-inputs-containers">
                                        <div class="admin-label-container">
                                            <label for="add-edit-product-short-description" class="admin-labels">Breve descripción</label>
                                        </div> 
                                        <input type="text" name="introduction" id="add-edit-product-short-description" class="add-edit-product-input inputs-fields" placeholder="Ej: Lorem ipsum dolor sit amet consectetur adipisicing elit" >
                                    </div>
                                    
                                    <div class="admin-inputs-containers">
                                        <div class="admin-label-container">
                                            <label for="add-edit-product-description" class="admin-labels">Descripción completa</label>
                                        </div>
                                        <textarea name="description" id="add-edit-product-description" cols="30" rows="10" class="add-edit-product-input-textarea textarea-styles" placeholder="Ej: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ex officia eligendi "></textarea>
                                    </div>

                                    <div class="admin-inputs-containers">
                                        <div class="admin-label-container">
                                            <label for="add-edit-product-weight" class="admin-labels">Peso Total</label>
                                        </div> 
                                        <input type="text" name="weight" id="add-edit-product-weight" class="add-edit-product-input inputs-fields" placeholder="Ej: 1Kg" >
                                    </div>

                                    <div class="admin-inputs-containers">
                                        <div class="admin-label-container">
                                            <label for="add-edit-product-size" class="admin-labels">Medidas</label>
                                        </div> 
                                        <input type="text" name="size" id="add-edit-product-size" class="add-edit-product-input inputs-fields" placeholder="Ej: 100 x 50 cm" >
                                    </div>

                                    <div class="admin-inputs-containers">
                                        <div class="admin-label-container">
                                            <label for="add-edit-product-material" class="admin-labels">Material</label>
                                        </div> 
                                        <input type="text" name="material" id="add-edit-product-material" class="add-edit-product-input inputs-fields" placeholder="Ej: Goma" >
                                    </div>
                                   

                                    <div class="admin-inputs-containers">
                                        <div class="admin-label-option-container">
                                            <label for="" class="admin-labels">Categoría:</label>
                                            <select name="category" id="" class="admin-select-category">
                                                <option value="products">Productos</option>
                                            </select>
                                         </div>
                                    </div>
                                    
                                    <div class="admin-inputs-containers">
                                        <div class="admin-label-option-container">
                                            <label for="" class="admin-labels">¿Agregar en la Home?</label>
                                            <input type="radio" name="homepage" value="si" class="admin-radio-input"> Sí
                                            <input type="radio" name="homepage" value="no" class="admin-radio-input" checked> No
                                        </div>
                                    </div>
                                    
                                    <div class="admin-inputs-containers">
                                        <div class="admin-label-option-container">
                                            <label for="add-edit-product-image-input" class="add-edit-product-image-label">Imagen del producto</label>
                                            <input type="file" class="add-edit-product-image-input">
                                        </div>
                                    </div>
            
                                    <div class="form-add-edit-product-button-container">
                                        <button type="submit" class="add-edit-product-create-product-button buttons-style"><i class="fas fa-plus product-add-icon"></i>Crear producto</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                </article>
            </section>
        </main>


        <%- include("../partials/footer") %> 
    </body>
</html>