<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %> 
   
    <div class="home-banner">
        <section>
            <div class="banner-container">
                <img src="images/main/homepage-banner.jpg" alt="Banner" class="banner-image">
            </div>
        </section>
    </div>

    <main>
        <section class="mas-vendidos">
            <h2 class="section-title">Los productos más vendidos</h2>
            <p class="section-title-description">Estos son los productos más procurados últimamente</p>
            <div class="articles-container">
                <article class="articles">
                    <img src="images/products/product-mancuernas.jpg" alt="" class="mas-vendidos-img">
                    <h2 class="product-names">Mancuernas hexagonales</h2>
                    <p class="product-introduction">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <form action="/products/detail" class="button-padre">
                        <button type="submit" class="comprar-button buttons-style">Comprar</button>
                    </form>
                </article>

                <article class="articles">
                    <img src="images/products/product-mancuerna-tope.jpg" alt="" class="mas-vendidos-img">
                    <h2 class="product-names">Mancuerna con topes</h2>
                    <p class="product-introduction">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <form action="/products/detail" class="button-padre">
                        <button type="submit" class="comprar-button buttons-style">Comprar</button>
                    </form>
                </article>

                <article class="articles">
                    <img src="images/products/product-barra.jpg" alt="" class="mas-vendidos-img">
                    <h2 class="product-names">Barra de dominadas</h2>
                    <p class="product-introduction">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <form action="/products/detail" class="button-padre">
                        <button type="submit" class="comprar-button buttons-style">Comprar</button>
                    </form>
                </article>

                <article class="articles">
                    <img src="images/products/product-banda.jpg" alt="" class="mas-vendidos-img">
                    <h2 class="product-names">Banda elástica con manijas</h2>
                    <p class="product-introduction">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <form action="/products/detail" class="button-padre">
                        <button type="submit" class="comprar-button buttons-style">Comprar</button>
                    </form>
                </article>

                <article class="articles">
                    <img src="images/products/product-colchoneta.jpg" alt="" class="mas-vendidos-img">
                    <h2 class="product-names">Colchoneta flex</h2>
                    <p class="product-introduction">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <form action="/products/detail" class="button-padre">
                        <button type="submit" class="comprar-button buttons-style">Comprar</button>
                    </form>
                </article>

                <article class="articles">
                    <img src="images/products/product-tobillera.jpg" alt="" class="mas-vendidos-img">
                    <h2 class="product-names">Tobilleras con cierre</h2>
                    <p class="product-introduction">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <form action="/products/detail" class="button-padre">
                        <button type="submit" class="comprar-button buttons-style">Comprar</button>
                    </form>
                </article>
            </div>
        </section>

        <section class="rutinas">
            <h2 class="section-title">Rutinas más populares</h2>
            <p class="section-title-description">Estas son las rutinas más vistas por los usuarios</p>
            <div class="rutinas-articles-container">
                <article class="rutina-articles">
                    <img src="images/rutines/rutine-biceps.jpg" alt="" class="rutinas-img">
                    <h2 class="product-names">Biceps</h2>
                    <p class="product-introduction">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <form action="/rutines/detail" class="button-padre">
                        <button type="submit" class="ver-mas-button buttons-style">Ver más</button>
                    </form>
                </article>

                <article class="rutina-articles">
                    <img src="images/rutines/rutine-abs.jpg" alt="" class="rutinas-img">
                    <h2 class="product-names">Abdominales</h2>
                    <p class="product-introduction">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <form action="/rutines/detail" class="button-padre">
                        <button type="submit" class="ver-mas-button buttons-style">Ver más</button>
                    </form>
                </article>

                <article class="rutina-articles">
                    <img src="images/rutines/rutine-resistencia.jpg" alt="" class="rutinas-img">
                    <h2 class="product-names">Resistencia</h2>
                    <p class="product-introduction">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <form action="/rutines/detail" class="button-padre">
                        <button type="submit" class="ver-mas-button buttons-style">Ver más</button>
                    </form>
                </article>

                <article class="rutina-articles">
                    <img src="images/rutines/rutine-piernas.jpg" alt="" class="rutinas-img">
                    <h2 class="product-names">Piernas</h2>
                    <p class="product-introduction">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <form action="/rutines/detail" class="button-padre">
                        <button type="submit" class="ver-mas-button buttons-style">Ver más</button>
                    </form>
                </article>
            </div>
        </section>
    </main>

    <%- include("../partials/footer") %> 
</body>
</html>