<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %>

    <main>
        <section>
            <article class="order-page-main-container"> 
                
                <div class="order-page-container">
                    
                    <div class="order-page-title-container">
                        <h2 class="order-page-title">
                            Orden de compra
                        </h2>
                    </div>

                    <div class="order-page-general-container">
                        <p class="order-page-thanks">
                            ¡Gracias por su compra!
                        </p>
                    </div>

                    <div class="order-page-general-container">
                        <p>
                            Su número de orden es <b><%=orderNumber.orderNumber%></b>.
                        </p>
                    </div>   

                    <div class="order-page-general-container">
                        <p>
                            <b>Código de seguimiento de producto: 000337519</b>.
                        </p>
                    </div> 

                    <div class="order-page-general-container order-page-email-detail">
                        <p>
                            Recibirás un email con todo el detalle de facturación.
                        </p>
                    </div>

                </div>

            </article>
        </section>

    </main>
    
    <%- include("../partials/footer") %> 
</body>
</html>